<div class="row row justify-content-center mt-5 user-profile">
  <div class="col-xs-12">
    <h2>Edit...
      <i class="fas fa-user-edit"></i>
    </h2>
      <%= form_with model:@user, local: true do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
      	  <h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
      		<ul>
      		  <% @user.errors.full_messages.each do |message| %>
      		    <li><%= message %></li>
      		  <% end %>
      		</ul>
      	</div>
        <% end %>
      	<div class="field mt-4">
      		<%= f.label :name, "Name" %><br>
      		<%= f.text_field :name, class: "name" %>
      	</div>
      	<div class="field mt-4">
      		<%= f.label :avatar_id, "Profile image" %><br>
      		<%= f.attachment_field :avatar, class: "user_image" %>
      	</div>
      	<div class="field mt-4">
      		<%= f.label :introduction, "About me" %><br>
      		<%= f.text_area :introduction, size: "35x5", class: "introduction" %>
      	</div>
      	<div class="actions mt-4 mb-4">
      		<%= f.submit "Change !!" %>
      	</div>
      <% end %>
        <div>
          <%= link_to "", user_path(@user), class:"fas fa-arrow-alt-circle-left" %>
        </div>
        <div class="quit mt-4">
        	  <%= link_to "アカウントの削除はこちらから", users_quit_path(@user), class:"btn btn-outline-danger" %>
        </div>
  </div>
</div>