<div class="col-xs-12">
  <h2>プロフィール編集</h2>

    <%= form_with model:@user, local: true do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
    	  <h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
    		<ul>
    		  <% @user.errors.full_messages.each do |message| %>
    		    <li><%= message %></li>
    		  <% end %>
    		</ul>
    	</div>
      <% end %>
    	<div class="field">
    		<%= f.label :name, "名前" %>
    		<%= f.text_field :name, class: "name" %>
    	</div>
    	<div class="field">
    		<%= f.label :avatar_id, "プロフィール写真" %>
    		<%= f.attachment_field :avatar, class: "user_image" %>
    	</div>
    	<div class="field">
    		<%= f.label :introduction, "自己紹介" %>
    		<%= f.text_area :introduction, class: "introduction" %>
    	</div>
    	<div class="actions">
    		<%= f.submit "変更する" %>
    	</div>
    <% end %>
</div>