<div class="row justify-content-center">
  <div class="topic-name">
    <h1>こだわりさん information</h1>
  </div>
</div>

<div class="row row justify-content-center mt-5 user-profile">
  <div class="d-flex justify-content-around">
    <div class="col-xs-6 mr-5">
      <div>
        <%= attachment_image_tag(@user, :avatar, size: "320x250", fallback: "no_image.png", format: "jpg") %>
      </div>
      <div class="user-name mt-2 mb-2">
        <%= @user.name %>
      </div>
      <div class="user-id mb-3">
        @<%= @user.account_id %>
      </div>
      <div class="about-me mb-4">
        <i class="fas fa-bullhorn"></i> about me !!<br>
        <%= @user.introduction %>
      </div>
      <div class="dm-funciton mb-3">
        <% unless @user.id == current_user.id %>
          <% if @isConnect == true %>
            <p class="user-show-room"><a href="/connects/<%= @connectId %>" class="btn btn-primary btn-lg">チャットへ</a>
          <% else %>
            <%= form_for @connect do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="row btn-field">
        <% if @user.id == current_user.id %>
          <%= link_to "", edit_user_path(@user), class:"fas fa-user-edit" %>
        <% end %>
      </div>
      <div class="row btn-field">
        <% if @user.id == current_user.id %>
          <%= link_to "", connects_path(@user), class:"far fa-envelope" %>
        <% end %>
      </div>
      <div class="row btn-field">
        <% if current_user.admin? %>
          <%= link_to "User一覧へ", admin_users_path, class:"btn btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-6 ml-5">
    <i class="fas fa-check">
      <span>check!!</span>
    </i>
    <div class="border border-warning rounded">
      <table class="table table-hover">
        <tr>
          <th>\ こだわりルーム一覧 /</th>
        </tr>
        <tr>
          <td>
            <% @commitments.each do |commitment| %>
              <%= link_to commitment.room_name, commitment_path(commitment.id) %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
