<h1>DM</h1>

<h4>参加者</h4>
<% @entries.each do |e| %>
  <div class="user-name">
  <strong>
    <%= attachment_image_tag e.user.avatar, class:"user-image" %>
      <a class="connects-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.name %>さん
      </a>
  </strong>
  </div>
<% end %>

<hr>
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <div class="chat-box">
      <div class="chat-face">
        <%= attachment_image_tag(m.user.avatar, :avatar, size: "60x60", class:"rounded-circle", fallback: "no_image.png") %>
        <%= m.user.name %>
        </div>
      <div class="chat-content"> <strong><%= m.content %></strong> <br>
        <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
      </div>
    </div>
  <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>
<div class="posts">
  <%= form_for @message do |f| %>
    <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
      <%= f.hidden_field :connect_id, value: @connect.id %>
        <%= f.submit "投稿",class: 'form-submit'%>
  <% end %>
</div>


