<div class="row justify-content-center">
  <div class="topic-name">
    <h1>こだわりRoom' s
      <i class="fas fa-person-booth"></i>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="row form_search">
      <%= form_with url: commitments_search_path, method: :get, local: true do |f| %>
        <%= f.label :content, "Room's keyword", class:"fas fa-search" %><br>
        <%= f.text_field :content, placeholder:"キーワード" %><br>
        <%= f.submit 'Go !!' %>
      <% end %>
    </div>
    <div class="row room_name">
      <%= form_with model:@commitment, local:true do |f| %>
        <%= f.label :room_name, "New Room's name" %><br>
        <%= f.text_field :room_name, size:"30x2", class:'col-xs-12' %>
          <div class="row mt-3 ml-2">
            <%= f.submit "つくる", class:'btn btn-primary col-xs-12' %>
          </div>
      <% end %>
    </div>
  </div>
  
  <div class="col-xs-8">
    <div class="row">
      <% @commitments.each do |commitment| %>
        <div class="col-xs-6 ml-5 mr-5 border">
          <%= link_to commitment.room_name, commitment_path(commitment.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>