<div class="row mt-n5">
  <%= link_to "", commitments_path, class:"fas fa-arrow-alt-circle-left" %>
</div>
<div class="row justify-content-center">
  <div class="topic-name">
    <h1>
      <%= "#{@commitment.room_name} 's room" %>
    </h1>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="topic-name">
    <h5>
      <% if @commitment.liked_by?(current_user) %>
        <%= @commitment.like_commitments.count %>人のこだわりさんが
        <%= link_to commitment_like_commitments_path(@commitment), method: :delete do %>
          <i class="fas fa-heart" style="color:red;"></i>
        <% end %>
        しています
      <% else %>
        <%= @commitment.like_commitments.count %>人のこだわりさんが
        <%= link_to commitment_like_commitments_path(@commitment), method: :post do %>
          <i class="far fa-heart" style="color:red;"></i>
        <% end %>
        しています
      <% end %>
    </h5>
  </div>
</div>

<div class="row">
  <div class="col-3 form_search">
    <div class="row">
      <div class="col-12">
        <%= form_with url: posts_search_path, method: :get, local: true do |f| %>
          <%= f.hidden_field :commitment_id, :value => @commitment.id %>
          <i class="fas fa-search"></i>
          <%= f.label :content, "Keyword" %><br>
          <%= f.text_field :content, placeholder:"キーワード" %><br>
          <%= f.submit 'Go !!' %>
        <% end %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <%= form_with(model:[@post], local: true) do |f| %>
          <%= f.hidden_field :commitment_id, :value => @commitment.id %>
  				<%= f.text_area :content, size:"15x8", class:"form-control", placeholder:"こだわりをシェアする" %>
  				<%= f.attachment_field :image, class:"far fa-image" %>
  				<%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
            <i class="far fa-paper-plane"></i>
          <% end %>
  	    <% end %>
  	  </div>
    </div>
  </div>
  <div class="col-9">
    <div class="border border-warning rounded ">
      <table class="table table-hover">
        <% @posts.each do |post| %>
          <tr>
            <td class="post_user">
              <%= link_to user_path(post.user) do %>
                <%= attachment_image_tag(post.user, :avatar, size: "30x30", class:"rounded-circle", fallback: "no_image.png") %><br>
                <%= post.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to post.content, post_path(post), style:"color: black;" %>
            </td>
            <td>
              <%= attachment_image_tag(post, :image, size: "100x100") %>
            </td>
            <td>
              <i class="fas fa-comments">
                <%= post.post_comments.count %>
              </i>
            </td>
            <td>
              <i class="fas fa-hiking" style="color: #FF66CC;">
                <%= post.bravos.count %>
              </i>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
