<div class="row justify-content-center">
  <div class="topic-name">
    <h1>
      <%= "#{@commitment.room_name} 's room" %>  
    </h1>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="topic-name">
    <h5>
      <% if @commitment.liked_by?(current_user) %>
        <%= @commitment.like_commitments.count %>人のこだわりさんが
        <%= link_to commitment_like_commitment_path(@commitment), method: :delete do %>
          <i class="fas fa-heart" style="color:red;"></i>
        <% end %>
        しています
      <% else %>
        <%= @commitment.like_commitments.count %>人のこだわりさんが
        <%= link_to commitment_like_commitments_path(@commitment), method: :post do %>
          <i class="far fa-heart" style="color:red;"></i>
        <% end %>
        しています
      <% end %>  
    </h5>
  </div>
</div>

<div class="row row justify-content-center mt-5">
  <div class="d-flex justify-content-around">
    <div class="col-xs-12">
      <table class="table table-hover border">
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to user_path(post.user) do %>
                <%= attachment_image_tag(post.user, :avatar, size: "60x60", class:"rounded-circle", fallback: "no_image.png") %><br>
                <%= post.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to post.content, post_path(post) %>
            </td>
            <td>
              <%= attachment_image_tag(post, :image, size: "100x100") %>
            </td>
            <td>
              <i class="fas fa-comments">
                <%= post.post_comments.count %>
              </i>
            </td>
            <td>
              <i class="fas fa-hiking" style="color: #FF66CC;"></i>
              <%= post.bravos.count %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="row row justify-content-center mt-5">
  <div class="d-flex justify-content-around">
    <div class="col-xs-12">
      <%= form_with(model:[@post], local: true) do |f| %>
        <%= f.hidden_field :commitment_id, :value => @commitment.id %>
				<%= f.text_area :content, class:"form-control", placeholder:"こだわりをシェアする" %><br>
				<%= f.attachment_field :image, class:"form-control" %><br>
				<%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
          <i class="far fa-paper-plane"></i>
        <% end %>
	    <% end %>
	  </div>
  </div>
</div>
<%= link_to "", commitments_path, class:"fas fa-arrow-alt-circle-left" %>
