<div class="container container-all mt-5">
  <div class="row ml-5">
    <h1 class=>Users 一覧</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4 pr-5">
      <div class="form_search">
        <%= form_with url: admin_users_search_path, method: :get, local: true do |f| %>
          <span class="fas fa-search"></span>
          <%= f.label :account_name, "account_name" %><br>
          <%= f.text_field :account_name, placeholder:"userを検索" %><br>
          <%= f.submit 'Go !!' %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8 pl-5">
      <table class="table table-hover">
        <thead>
      	  <tr>
      	    <th>User name</th>
      	    <th>Account name</th>
      	    <th>Status</th>
      	    <th>Type</th>
      	  </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.account_name %></td>
              <td>
                <%= user.is_valid %>
              <% if user.is_valid == "有効" && user.admin == false %>
                <%= link_to "無効会員に変更", admin_path(user.id), class:"btn btn-outline-danger", method: :patch %>
              <% end %>
              </td>
              <td>
                <%= user.classification %>
              <% if user.classification == "一般" && user.admin == false %>
                <%= link_to "会員区分変更", admin_user_path(user), class:"btn btn-outline-success", method: :patch %>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>