<header class="container mb-5">
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <span class="navbar-brand">
      こだわLink
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', :size => '45x35' %>
      <% end %>
    </span>

    <div class="navbar-nav justify-content-center">
      <ul class="nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to '* Mypage *', user_path(current_user.id), class:"nav-link mr-5", style:"color: #DCC2FF" %>
          </li>
          <li class="nav-item">
            <%= link_to '* About *', about_path, class:"nav-link mr-5", style:"color: white" %>
          </li>
          <li class="nav-item">
            <%= link_to '* Codawari Room *', commitments_path, class:"nav-link mr-5", style:"color: #DCC2FF" %>
          </li>
          <li class="nav-item">
            <%= link_to "* Log out *", destroy_user_session_path, class:"nav-link mr-5", style:"color: white", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "* About *", about_path, class:"nav-link mr-5" %>
          </li>
          <li class="nav-item">
            <%= link_to "* Sign up *", new_user_registration_path, class:"nav-link mr-5" %>
          </li>
          <li class="nav-item">
            <%= link_to "* Log in *", new_user_session_path, class:"nav-link mr-5" %>
          </li>
          <li class="nav-item">
            <%= link_to "* Contact *", new_inquiry_path, class:"nav-link mr-5" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

