<header class="container mb-5">
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <nav class="navbar-brand">
      <span><%= link_to "こだわLink", root_path %></span>
    </nav>
    <nav class="nav navbar-nav navbar-right">
      <ul class="nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Home', user_path(current_user.id), class:"fas fa-home nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to 'About', about_path, class:"fas fa-info-circle nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Codawari Room', commitments_path, class:"fab fa-slideshare nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "logout", destroy_user_session_path, class:"fas fa-sign-out-alt nav-link mr-3", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "fas fa-home nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "fas fa-info-circle nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "sign up", new_user_registration_path, class: "fas fa-edit nav-link mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "login", new_user_session_path, class: "fas fa-sign-in-alt nav-link mr-3" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div><!--containerのとじタグ-->
</header>

